<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="icon" href="/images/login-page/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="home-page.css">
</head>

<body>
    <div id="main">
        <div id="navbar">
            <div id="insta-img">
                <img class="insta-img" src="/images/login-page/insta.png">
            </div>

            <div id="options">
                <div class="opt option-1"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-house"></i><span>Home</span></a></div>
                <div class="opt option-2"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-magnifying-glass"></i><span>Search</span></a></div>
                <div class="opt option-3"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-compass"></i><span>Explore</span></a></div>
                <div class="opt option-4"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-circle-play"></i><span>Reels</span></a></div>
                <div class="opt option-5"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-paper-plane"></i><span>Messages</span></a></div>
                <div class="opt option-6"><a href="http://localhost:8080/home"><i
                            class="fa-regular fa-heart"></i><span>Notifications</span></a></div>
                <div class="opt option-7"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-plus"></i><span>Create</span></a></div>
                <div class="opt option-8"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-square-poll-vertical"></i><span>Dashboard</span></a></div>
                <div class="opt option-9"><img id="profile" src="/images/login-page/profile.jpg" /><span
                        id="inner">Profile</span></div>
                <div class="opt option-10"><a href="http://localhost:8080/home"><i
                            class="fa-regular fa-circle"></i><span>Meta AI</span></a></div>
                <div class="opt option-11"><a href="http://localhost:8080/home"><i
                            class="fa-solid fa-list-check"></i><span>AI Studio</span></a></div>
                <div class="opt option-12"><a href="http://localhost:8080/home"><i
                            class="fa-brands fa-threads"></i><span>Threads</span></a></div>
            </div>
        </div>

        <div id="two">
            <div id="main-content">
                <div id="stories">
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/cherrysin.jpeg"></div>
                        <span>cherrysin98</span>
                    </div>
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/gangsta_shwetabh.jpeg"></div>
                        <span>gangsta_sh...</span>
                    </div>
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/bhupendra.png"></div>
                        <span>_bhupendra...</span>
                    </div>
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/acharya.png"></div>
                        <span>acharya_pr...</span>
                    </div>
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/david.png"></div>
                        <span>davidgoggins</span>
                    </div>
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/saket.png"></div>
                        <span>saketgokhale</span>
                    </div>
                    <div class="outer-story-box">
                        <div role="button" class="story"><img src="/images/home-page/apnacollege.png"></div>
                        <span>officialap...</span>
                    </div>
                </div>
                <div id="feed">
                    <div id="posts">
                        <div id="post">
                            <!-- Top: Profile Info -->
                            <div id="top">
                                <div class="user-info">
                                    <img src="/images/home-page/cherrysin.jpeg" alt="Profile">
                                    <span class="username">cherrysin98<span style="opacity: 0.800;"> • 1hr</span></span>
                                    <span class="dot-menu">•••</span>
                                </div>
                            </div>

                            <!-- Mid: Post Image -->
                            <div id="mid">
                                <img src="/images/home-page/cherrypost.jpg" alt="Post Image">
                            </div>

                            <!-- Bottom: Actions and Captions -->
                            <div id="bottom">
                                <div class="actions">
                                    <i class="fa-regular fa-heart"></i>
                                    <i class="fa-regular fa-comment"></i>
                                    <i class="fa-regular fa-paper-plane"></i>
                                    <i class="fa-regular fa-bookmark save-icon"></i>
                                </div>
                                <div class="likes">Liked by <strong>bishnoiabhinav</strong> and others</div>
                                <div class="caption"><strong>cherrysin</strong> 📈</div>
                                <div class="comments">View all 3 comments</div>
                                <input type="text" class="comment-box" placeholder="Add a comment...">
                            </div>
                        </div>
                    </div>


                    <div id="posts">
                        <div id="post">
                            <!-- Top: Profile Info -->
                            <div id="top">
                                <div class="user-info">
                                    <img src="/images/home-page/gangsta_shwetabh.jpeg" alt="Profile">
                                    <span class="username">gangsta_shwetabh<span style="opacity: 0.800;"> • 17hr</span></span>
                                    <span class="dot-menu">•••</span>
                                </div>
                            </div>

                            <!-- Mid: Post Image -->
                            <div id="mid">
                                <video src="/images/home-page/gangsta_shwetabh.mp4" controls  autoplay muted playsinline></video>
                            </div> 

                            <!-- Bottom: Actions and Captions -->
                            <div id="bottom">
                                <div class="actions">
                                    <i class="fa-regular fa-heart"></i>
                                    <i class="fa-regular fa-comment"></i>
                                    <i class="fa-regular fa-paper-plane"></i>
                                    <i class="fa-regular fa-bookmark save-icon"></i>
                                </div>
                                <div class="likes">Liked by <strong>bishnoiabhinav</strong> and others</div>
                                <div class="caption"><strong>cherrysin</strong> 📈</div>
                                <div class="comments">View all 3 comments</div>
                                <input type="text" class="comment-box" placeholder="Add a comment...">
                            </div>
                        </div>
                    </div>

                    <div id="posts">
                        <div id="post">
                            <!-- Top: Profile Info -->
                            <div id="top">
                                <div class="user-info">
                                    <img src="/images/home-page/bhupendra.png" alt="Profile">
                                    <span class="username">gangsta_shwetabh<span style="opacity: 0.800;"> • 17hr</span></span>
                                    <span class="dot-menu">•••</span>
                                </div>
                            </div>

                            <!-- Mid: Post Image -->
                            <div id="mid">
                                <video src="/images/home-page/bhupendra.mp4" controls ></video>
                            </div> 

                            <!-- Bottom: Actions and Captions -->
                            <div id="bottom">
                                <div class="actions">
                                    <i class="fa-regular fa-heart"></i>
                                    <i class="fa-regular fa-comment"></i>
                                    <i class="fa-regular fa-paper-plane"></i>
                                    <i class="fa-regular fa-bookmark save-icon"></i>
                                </div>
                                <div class="likes">Liked by <strong>bishnoiabhinav</strong> and others</div>
                                <div class="caption"><strong>cherrysin</strong> 📈</div>
                                <div class="comments">View all 3 comments</div>
                                <input type="text" class="comment-box" placeholder="Add a comment...">
                            </div>
                        </div>
                    </div>


                    <div id="posts">
                        <div id="post">
                            <!-- Top: Profile Info -->
                            <div id="top">
                                <div class="user-info">
                                    <img src="/images/home-page/gangsta_shwetabh.jpeg" alt="Profile">
                                    <span class="username">gangsta_shwetabh<span style="opacity: 0.800;"> • 17hr</span></span>
                                    <span class="dot-menu">•••</span>
                                </div>
                            </div>

                            <!-- Mid: Post Image -->
                            <div id="mid">
                                <video src="/images/home-page/acharya.mp4" controls ></video>
                            </div> 

                            <!-- Bottom: Actions and Captions -->
                            <div id="bottom">
                                <div class="actions">
                                    <i class="fa-regular fa-heart"></i>
                                    <i class="fa-regular fa-comment"></i>
                                    <i class="fa-regular fa-paper-plane"></i>
                                    <i class="fa-regular fa-bookmark save-icon"></i>
                                </div>
                                <div class="likes">Liked by <strong>bishnoiabhinav</strong> and others</div>
                                <div class="caption"><strong>cherrysin</strong> 📈</div>
                                <div class="comments">View all 3 comments</div>
                                <input type="text" class="comment-box" placeholder="Add a comment...">
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div id="recommendation">
                <div style="width: 80%; padding-top: 40px; font-size: 0.9rem;">
                    <!-- Profile Section -->
                    <div style="display: flex; align-items: center; margin-bottom: 20px;">
                        <img src="/images/login-page/profile.jpg" alt="Profile"
                            style="height: 45px; border-radius: 50%; margin-right: 10px;" />
                        <div style="flex: 1;">
                            <div style="color: white; font-weight: bold;">the_deo_inspire</div>
                            <div style="color: gray; font-weight: 600;">Ashish Kumar | Fitness Journey</div>
                        </div>
                        <a href="#" style="color: #0095f6; font-weight: 600; text-decoration: none;">Switch</a>
                    </div>

                    <!-- Suggested for you -->
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <span style="color: gray; font-weight: bold; margin-bottom: 10px;">Suggested for you</span>
                        <a href="#" style="color: white; font-size: 0.8rem;">See All</a>
                    </div>

                    <!-- Suggestions List -->
                    <div style="display: flex; flex-direction: column; gap: 20px;">
                        <!-- User Suggestion -->
                        <div style="display: flex; align-items: center;">
                            <img src="/images/home-page/andrew.png"
                                style="height: 40px; width: 40px; border-radius: 50%; margin-right: 10px;" />
                            <div style="flex: 1;">
                                <div style="color: white; font-weight: 500;">andry_strong</div>
                                <div style="color: gray; font-size: 0.8rem;">Followed by adarshhh.verma_</div>
                            </div>
                            <a href="#" style="color: #0095f6; font-weight: 600;">Follow</a>
                        </div>

                        <!-- Repeat the above block for each suggestion -->
                        <div style="display: flex; align-items: center;">
                            <img src="/images/home-page/ankit.png"
                                style="height: 40px; width: 40px; border-radius: 50%; margin-right: 10px;" />
                            <div style="flex: 1;">
                                <div style="color: white; font-weight: 500;">ankit_baiyanpuria</div>
                                <div style="color: gray; font-size: 0.8rem;">Following sahil_ybx</div>
                            </div>
                            <a href="#" style="color: #0095f6; font-weight: 600;">Follow</a>
                        </div>

                        <!-- Add more user blocks as needed... -->
                        <!-- User Suggestion -->
                        <div style="display: flex; align-items: center;">
                            <img src="/images/home-page/gangsta.png"
                                style="height: 40px; width: 40px; border-radius: 50%; margin-right: 10px;" />
                            <div style="flex: 1;">
                                <div style="color: white; font-weight: 500;">shwetabhspeaks</div>
                                <div style="color: gray; font-size: 0.8rem;">Followed by adarshhh.verma_</div>
                            </div>
                            <a href="#" style="color: #0095f6; font-weight: 600;">Follow</a>
                        </div>

                        <!-- Repeat the above block for each suggestion -->
                        <div style="display: flex; align-items: center;">
                            <img src="/images/home-page/hritik.png"
                                style="height: 40px; width: 40px; border-radius: 50%; margin-right: 10px;" />
                            <div style="flex: 1;">
                                <div style="color: white; font-weight: 500;">hrithik_roushn</div>
                                <div style="color: gray; font-size: 0.8rem;">Following sahil_ybx</div>
                            </div>
                            <a href="#" style="color: #0095f6; font-weight: 600;">Follow</a>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div style="color: gray; font-size: 12px; margin-top: 50px; line-height: 1.6;">
                        About · Help · Press · API · Jobs · Privacy · Terms · Locations · Language · Meta Verified
                        <br /><br />
                        © 2025 INSTAGRAM FROM META
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>